@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=League+Spartan:wght@100..900&family=Oswald:wght@200..700&display=swap');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    
}
html::-webkit-scrollbar {
    width: 5px;
}

html::-webkit-scrollbar-thumb {
    background: #ff994bfd;
}

html::-webkit-scrollbar-thumb:hover {
    background: #e68942fd;
}

html::-webkit-scrollbar-track {
    background: #f1f1f1;
}
html::-webkit-scrollbar-thumb:active {
    background: #da6308;
}

html, body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: #f8f8f8;
    position: relative;
    padding-top: 0.1px;
}
#nav{
    height: 12vh;
    width: 100%;
    /* background-color: red; */
    margin-top: 40px;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
#nav h2{
    /* background-color: yellow; */
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    font-weight: 600;
    border-right: 2px solid black;
}
#nav h3{
    display: none;
}
#nav h1{
    /* background-color: yellow; */
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.7rem;
    font-family: "Raleway", sans-serif;
    font-weight: 900;
    letter-spacing: -.21rem;
    position: relative;
}
#nav h1::after{
    content: "©️";
    font-size: 1.2rem;
    font-family: Montserrat;
    font-weight: 500;
    position: absolute;
    top: 25%;
    right: 18%;
}
#nav h1::before{
    content: "model management";
    font-size: .6rem;
    font-family: Montserrat;
    font-weight: 500;
    position: absolute;
    letter-spacing: .01rem;
    bottom: 15%;
    right: 21%;
    color: #000000b6;
}
#nav :nth-last-child(2){
    width: 28%;
}
#nav :nth-last-child(1){
    width: 10%;
}
#center{
    height: calc(100vh - 12vh - 40px);
    width: 100%;
    /* background-color: red; */
    position: relative;
    padding: 2.5vw 7vw;
}
#content{
    height: 100%;
    width: 100%;
    position: relative;
    /* background-color: blue; */
}
#content video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    /* border-radius: 20px; */
}
#overlay{
    height: 50%;
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 3vw;
    color: #ffff;
}
#overlay:hover{
    background-color: rgba(0, 0, 0, 0.228);
    backdrop-filter: blur(6px);
    transition: all 1s ease-in-out;
}
#over1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 2vw;
}
#over1 h2{
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    font-size: 3.6vw;
    letter-spacing: -.1rem;
    line-height: 3.5rem;
    /* mix-blend-mode: difference; */
}
#over1 p{
    padding: 1.7vw 1.75vw;
    /* background-color: blue; */
    border-radius: 50%;
    border: 2px solid #ffff;
}
#over2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid #ffff;
    padding-top: 1.5vw;
}
.arrow1{
    font-size: 30px;
    color: white;
    margin-right: 15px;
}
#scroll{
    height: 30vh;
    width: 100%;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-top: 20px;
}
.cover{
    height: 20vh;
    width: 8.1vw;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    font-size: .8rem;
    font-weight: 600;
    gap: 6px;
}
.cover img{
    height: 70%;
    width: 85%;
    border-radius: 50%;
    object-fit: cover;
    object-position: 30% 30%;
}
.img-conatiner{
    height: 100%;
    width: 100%;
    /* background-color: red; */
    display: inline-block;
    animation-name: anime;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes anime {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}
#alphabet{
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .8vw;
    text-transform: uppercase;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    padding: 1vh;
}
#alphabet h5{
    border-bottom: 2px solid black;
    font-size: 1.3rem;
    font-weight: 600;
    margin-right: 25px;
    font-style: italic;
    letter-spacing: 2px;
}
#alphabet h6{
    font-size: .8rem;
    font-weight: 500;
    cursor: pointer;
    font-style: italic;
    padding: .34vw .65vw;
    border: 2px solid rgba(0, 0, 0, 0);
    border-radius: 50%;
    transition: all .2s ease-in;
}
#alphabet h6:hover{
    border: 2px solid black;
}
.poster-secton{
    height: 100vh;
    width: 100%;
    padding: 3vw;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    gap: 45px;
}
.model-img img{
    height: 80vh;
    width: 37vw;
    object-fit: cover;
}
.model-img2 img{
    height: 62.5vh;
    width: 55vh;
    object-fit: cover;
    display: flex;
}
.model-img h2{
    text-transform: uppercase;
    font-family: "Raleway",serif;
    font-size: 2rem;
    font-weight: 900;
    padding-top: 15px;
}
.model-text{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}
.model-text h5{
    width: 11vw;
    font-size: 1rem;
}
.model-text p{
    width: 13vw;
    font-size: .7rem;
    font-weight: 600;
}
.another-section{
    height: 60vh;
    width: 100%;
    display: flex;
    /* padding-top: 0vw; */
}
.another-section img{
    height: 67vh;
    width: 35vw;
    object-fit: cover;
}
.circular-img{
    height: 70vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10vh;
}
.circular-img img{
    height: 38vh;
    width: 18vw;
    object-fit: cover;
}
.circular-img h5{
    width: 28vw;
    font-size: 1.1rem;
    padding-left: 5vw;
    /* padding-top: 10vw; */
}
.wide-model{
    height: 100%;
    width: 100%;
    padding-top: 15vh;
    padding-left: 10vh;
    padding-right: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wide-model img{
    height: 80vh;
    width: 100vw;
    object-fit: cover;
}
.side{
    height: 100vh;
}
.updates{
    padding: 0vw 5vw;
}
.updates h2{
    font-family: "Raleway",serif;
    font-weight: 900;
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: -.14rem;
    text-align: center;
    padding: 50px;
    border-bottom: 2px solid black;
}
.details{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 100px;
    padding: 1vw 12vw;
    border-bottom: 2px solid black;
}
.details p{
    padding-left: 10px;
    text-transform: uppercase;
    letter-spacing: -.03rem;
    font-weight: 600;
}
.details img{
    height: 12vh;
    width: 7vw;
    border-radius: 50%;
    object-fit: cover;
}
.details-section {
    margin-left: 9vw;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}
.details-section h3{
    font-size: 2.3rem;
    font-weight: 500;
    text-transform: capitalize;
    letter-spacing: -.13rem;
}
.details-section p{
    font-size: .8rem;
    padding: 3px;
}
#extra-detail{
    padding-bottom: 2%;
    width: 8vw;
}
.shots{
    display: flex;
    gap: 60px;
    padding: 10vw;
    padding-bottom: 0;
}
.shots1{
    height: 80vh;
    width: 35vw;
    object-fit: cover;
}
.shots-article{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}
.shots-article h3{
    font-size: 2rem;
    text-transform: uppercase;
    font-family: "Raleway",serif;
    font-weight: 900;
    letter-spacing: -.08rem;
}
.shots-article h4{
    font-size: 1rem;
    width: 19vw;
    font-weight: 600;
}
.shots-article p{
    font-size: .7rem;
    width: 36vw;
    font-weight: 600;
}
.shots-cover{
    display: flex;
    gap: 10px;
}
.shots2{
    height: 45vh;
    width: 25vw;
    object-fit: cover;
}
.shots3{
    height: 45vh;
    object-fit: cover;
}
.text-scroll{
    /* height: 10vh; */
    width: 100%;
    /* background-color: red; */
    white-space: nowrap;
    overflow: hidden;
    margin-top: 30px;
    padding: 1vw 0vw;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}
.text-scroll h2{
    display: inline-block;
    font-family: "Raleway",serif;
    font-size: 2.7rem;
    text-transform: uppercase;
    letter-spacing: .17rem;
    font-weight: 900;
    -webkit-text-stroke: 2px black ;
    color: transparent;
    margin-right: 20px;
    animation-name: text-anime;
    animation-duration: 3.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    /* background-color: blue; */
}
@keyframes text-anime {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(calc(-100% - 24px));
    }
}

.blog{
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 50px;
    padding-top: 70px;
}
.blog h2{
    text-transform: uppercase;
    font-family: "Raleway",serif;
    font-weight: 900;
    font-size: 2.5rem;
    margin-right: 50px;
}
.blog-details{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 50px;
}
.blog-details h3{
    width: 28vw;
}
.blog-details span{
    /* background-color: red; */
    padding: 2px 8px;
    margin: 10px;
    border: 1.5px solid black;
    border-radius: 50%;
}
#footer{
    height: 30vh;
    width: 100%;
    /* background-color: red; */
    margin-top: 40px;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    display: flex;
    align-items: start;
    justify-content: space-evenly;
}
#footer h2{
    height: 100%;
    display: flex;
    align-items: start;
    padding: 20px 30px;
    font-size: 1.2rem;
    font-weight: 600;
    border-right: 2px solid black;
}
.footer-details{
    padding: 0;
}
.footer-details h2{
    padding: 20px 0px !important;
    border-right: none !important;
    border-bottom: 2px solid black;
    padding-bottom: 30px !important;
}
.footer-details p{
    font-size: .9rem;
}
    
#footer h1{
    /* background-color: yellow; */
    /* height: 100%; */
    padding: 6px;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.7rem;
    font-family: "Raleway", sans-serif;
    font-weight: 900;
    letter-spacing: -.21rem;
}
.icons{
    padding: 30px 0px;
}
.all{
    font-size: 1.3rem;
    margin-right: 5px;
}

.below{
    height: 3vh;
}



@media (max-width:600px) {
    body{
        overflow-x: hidden;
        /* padding-left: 10px !important; */
    }

    #nav{
       height: 8vh;
       padding: 0vh 5vw;
       margin-top: 20px;
        
    }
    #nav h2{
        display: none;
    }
    #nav h3{
        display: initial;
    }
    #nav h1{
        height: 100%;
        width: 40%;
        justify-content: flex-start;
        font-size: 2rem;
    }
    #nav h1::after{
        display: none;
    }
    #nav h1::before{
        display: none;
    }


    #center{
        height: calc(60vh - 12vh - 40px);
        padding-bottom: 0;
    }
    #overlay{
        height: 40%;
    }
    #over1 h2{
        font-size: 5vw;
        letter-spacing: -.05rem;
        line-height: 1.2rem;
    }
    #over1 p{
        font-size: .71rem;
    }
    #over2 p{
        font-size: .71rem;
    }
    .arrow1{
        font-size: 1.5rem;
        margin-right: 5px;
    }


    #scroll{
        height: 18vh;
        padding: 0vh;
    }
    .cover p{
        display: none;
    }
    .cover img{
        height: 7vh;
        width: 8vw;
    }


    #alphabet{
        gap: .4vw;
        padding: 0vh;
        height: 5vh;
    }
    #alphabet h5{
        font-size: .85rem;
        margin-right: 0px;
    }
    #alphabet h6{
        font-size: .65rem;
        padding: 0vw 0vw;
    }
    


    .poster-secton{
        height: 60vh;
        gap: 20px;
    }
    .model-img img{
        height: 50vh;
        width: 37vw;
    }
    .model-img2 img{
        height: 40vh;
        width: 45vw;
    }
    .model-img h2{
        font-size: 1rem;
        font-weight: 900;
    }
    .model-text h5{
        width: 25vw;
        font-size: .65rem;
    }
    .model-text p{
        width: 18vw;
        font-size: .4rem;
    }


    .another-section{
        height: 55vh;
        width: 100%;
    }
    .another-section img{
        height: 50vh;
        width: 40vw;
    }
    .circular-img{
        height: 50vh;
        width: 50%;
        gap: 5vh;
    }
    .circular-img img{
        height: 25vh;
        width: 30vw;
    }
    .circular-img h5{
        width: 36vw;
        font-size: .8rem;
        padding-left: 0vw;
    }



    .wide-model{
        height: 50vh;
        width: 100%;
        padding-top: 0vh;
        padding-left: 0vh;
        padding-right: 0vh;
    }
    .wide-model img{
        height: 45vh;
    }


    
    .updates{
        padding: 0vw 5vw;
    }
    .updates h2{
        font-size: 2.5rem;
        padding: 50px;
    }
    .details{
        gap: 20px;
        padding: 1vw 5vw;
    }
    .details p{
        padding-left: 5px;
    }
    .details img{
        height: 8vh;
        width: 10vw;
    }
    .details-section {
        margin-left: 5vw;
    }
    .details-section h3{
        font-size: 1.1rem;
    }
    .more{
        padding-left: 9.5vh !important;
    }
    .details-section p{
        font-size: .6rem;
        padding: 2px;
    }
    #extra-detail{
        display: none;
    }


    .shots{
        gap: 8px;
        padding: 12vw 5vw;
    }
    .shots1{
        height: 80vh;
        width: 35vw;
    }
    .shots-article h3{
        font-size: 1.5rem;
    }
    .shots-article h4{
        font-size: .9rem;
        width: 45vw;
    }
    .shots-article p{
        font-size: .6rem;
        width: 45vw;
    }
    .shots-cover{
        display: flex;
        gap: 4px;
    }
    .shots2{
        height: 35vh;
        width: 25vw;
    }
    .shots3{
        height: 35vh;
        width: 28vw;
    }


    .text-scroll{
        padding: 2vw 0vw;
    }
    .text-scroll h2{
        font-size: 1.5rem;
    }


    .blog{
        height: 130vh;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 0px;
        padding-top: 30px;
    }
    .blog h2{
        font-size: 2rem;
        display: flex;
        align-items: center;
        margin-right: 0px;
    }
    .blog-details{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0px;
    }
    .blog-details h3{
        width: 90vw;
        padding: 5px;
    }
    .blog-details img{
        height: 32vh;
    }
    .problem{
        height: 29.5vh !important;
    }



    #footer{
        height: 30vh;
        margin-top: 20px;
        flex-wrap: wrap;
        align-items: center;
    }
    #footer h2{
        padding: 10px;
        font-size: 1rem;
    }
    .footer-details h2{
        padding: 20px 10px !important;
    }
    .footer-details p{
        font-size: .9rem;
    }
        
    #footer h1{
        padding: 0px 0vw;
        width: 36%;
        font-size: 2.2rem;
    }
    .icons{
        padding-top: 20px;
        padding-bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .all{
        font-size: 1.3rem;
        margin-right: 15px;
    }
    .rights{
        padding: 7vw 5vw;
    }
}